<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{notice.title}}">
  <ion-content class="padding">

  <div class="list card">
    <label class="item item-input item-floating-label">
      <span class="input-label">Respuesta</span>
      <input type="text" placeholder="Digite su respuesta">
    </label>

  </div>

  <button class="button button-block">
    Enviar respuesta
  </button>

  </ion-content>
</ion-view>
