<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Datelle evento">
  <ion-content class="padding" id="dash-detail">

        <h1>Entrega de notas</h1>
        <h6>Noviembre 05, 2018</h6>
        <p>
           Queremos darle la bienvenida a nuestras actividades de Vacaciones donde viviremos una experiencia
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore magnam dolorem libero quia corporis autem fugit, illum odio nemo rem porro fuga excepturi eveniet repellendus nihil ipsam placeat odit adipisci.
        </p>

  </ion-content>
</ion-view>
