

<ion-view  view-title="Instituto">

    <ion-content class="paddingcontent has-header ionic-pseudo" id="instiuto">

      <div class="list acount card">

    <div class="item item-icon-left">
      <i class="icon ion-ios-lightbulb-outline"></i>
        Jardín infantíl Kids World
    </div>

    <div class="item item-icon-left">
      <i class="icon ion-ios-location-outline"></i>
      Kr 57 N 128 - 03 Barrio Las Villas
    </div>

      <a class="item item-icon-left" href="tel:+6042164">
        <i class="icon ion-ios-telephone-outline"></i>
        604 21 64
      </a>

    <a class="item item-icon-left" href="mailto:info@kidsworld.com.co">
      <i class="icon ion-ios-email-outline"></i>
      info@kidsworld.com.co
    </a>

  </div>

  </ion-content>
</ion-view>
