<ion-view view-title="Revista">
  <ion-content class="padding">
  <copy>
    <strong>Accede a la revista escolar</strong>
    <span>e infórmate sobre los avances</span>
    <small>de tu colegio.</small>
  </copy>

     <ion-slide-box>

        <ion-slide>
          <div class="slide-wrapper">

            <img class="slider-img" src="img/magazine/0.jpg"/>

          </div>
        </ion-slide>

        <ion-slide>
          <div class="slide-wrapper">

            <img class="slider-img" src="img/magazine/1.jpg"/>

          </div>
        </ion-slide>

        <ion-slide>
          <div class="slide-wrapper">

            <img class="slider-img" src="img/magazine/2.jpg"/>

          </div>
        </ion-slide>

        <ion-slide>
          <div class="slide-wrapper">

            <img class="slider-img" src="img/magazine/3.jpg"/>

          </div>
        </ion-slide>

      </ion-slide-box>


  </ion-content>
</ion-view>
