<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Reconocimientos">
  <ion-content class="padding">
    <ion-list class="medal">

      <ion-item class="card card-one item-icon-right item-text-wrap" >
          <i class="icon ion-ios-americanfootball-outline"></i>

        <h3>Reconocimiento 1</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non vel sed ullam architecto dolorum cupiditate. Nobis dolor enim, earum voluptatem temporibus neque, aliquam, sunt maxime rem culpa perspiciatis atque doloremque.</p>
      </ion-item>

      <ion-item class="card card-two item-icon-right item-text-wrap" >
          <i class="icon ion-ios-alarm-outline"></i>

        <h3>Reconocimiento 2</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus dicta quasi adipisci repellendus, quia labore nam odit aliquid magni dolor esse, nemo praesentium, provident explicabo eligendi consequatur reprehenderit cumque officia.</p>
      </ion-item>

      <ion-item class="card card-one item-icon-right item-text-wrap" >
          <i class="icon ion-ios-camera-outline"></i>

        <h3>Reconocimiento 3</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab dignissimos esse laborum minus sint nihil earum cum rem aspernatur excepturi omnis numquam, facere velit hic quod tenetur architecto veniam fugiat!</p>
      </ion-item>

      <ion-item class="card card-two item-icon-right item-text-wrap" >
          <i class="icon ion-ios-bookmarks-outline"></i>

        <h3>Reconocimiento 4</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro sequi dolorum illum sunt debitis neque repudiandae necessitatibus ut placeat totam, nulla rem recusandae accusantium asperiores eligendi non nostrum culpa voluptas!</p>
      </ion-item>

      <ion-item class="card card-one item-icon-right item-text-wrap" >
          <i class="icon ion-ios-americanfootball-outline"></i>

        <h3>Reconocimiento 5</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident autem hic amet, odit dolorum, et ipsa nobis mollitia fugit ducimus, incidunt obcaecati aliquam dolores! Magni ratione numquam ut dolor alias.</p>
      </ion-item>

    </ion-list>
  </ion-content>
</ion-view>
