<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Reconocimientos">
  <ion-content class="padding">
    <ion-list class="medal">

      <ion-item class="card card-one item-icon-right item-text-wrap" >
      <div class="card-image">
          <img src="img/medal-one.png" alt="">
          <i class="icon ion-ios-americanfootball-outline"></i>
      </div>

      <div class="card-text">

        <h3>Reconocimiento 1</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non vel sed ullam architecto dolorum cupiditate. Nobis dolor enim, earum voluptatem temporibus neque, aliquam, sunt maxime rem culpa perspiciatis atque doloremque.</p>

      </div>


      </ion-item>

      <ion-item class="card card-two item-icon-right item-text-wrap" >
            <div class="card-image">
          <img src="img/medal-two.png" alt="">
          <i class="icon ion-ios-alarm-outline"></i>
        </div>

      <div class="card-text">

        <h3>Reconocimiento 2</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non vel sed ullam architecto dolorum cupiditate. Nobis dolor enim, earum voluptatem temporibus neque, aliquam, sunt maxime rem culpa perspiciatis atque doloremque.</p>

      </div>
      </ion-item>

      <ion-item class="card card-one item-icon-right item-text-wrap" >
            <div class="card-image">
          <img src="img/medal-one.png" alt="">
          <i class="icon ion-ios-camera-outline"></i>
        </div>
      <div class="card-text">

        <h3>Reconocimiento 1</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non vel sed ullam architecto dolorum cupiditate. Nobis dolor enim, earum voluptatem temporibus neque, aliquam, sunt maxime rem culpa perspiciatis atque doloremque.</p>

      </div>
      </ion-item>

      <ion-item class="card card-two item-icon-right item-text-wrap" >
            <div class="card-image">
          <img src="img/medal-two.png" alt="">
          <i class="icon ion-ios-bookmarks-outline"></i>
        </div>
      <div class="card-text">

        <h3>Reconocimiento 4</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non vel sed ullam architecto dolorum cupiditate. Nobis dolor enim, earum voluptatem temporibus neque, aliquam, sunt maxime rem culpa perspiciatis atque doloremque.</p>

      </div>
      </ion-item>

      <ion-item class="card card-one item-icon-right item-text-wrap" >
            <div class="card-image">
          <img src="img/medal-one.png" alt="">
          <i class="icon ion-ios-americanfootball-outline"></i>
        </div>
      <div class="card-text">

        <h3>Reconocimiento 5</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non vel sed ullam architecto dolorum cupiditate. Nobis dolor enim, earum voluptatem temporibus neque, aliquam, sunt maxime rem culpa perspiciatis atque doloremque.</p>

      </div>
      </ion-item>

    </ion-list>
  </ion-content>
</ion-view>
