

<ion-view  view-title="Hijo">
  <ion-content class="padding" data-tap-disabled="true">

  <div class="list card">

    <div class="item item-icon-left">
      <i class="icon ion-ios-heart-outline"></i>
        Andres Mario Benavidez Alcazares
    </div>

    <a href="#/tab/chats" class="item item-icon-left">
      <i class="icon ion-chatbubbles"></i>
      Ver mensajes de mi hijo
    </a>

    <a href="#/tab/calender" class="item item-icon-left">
      <i class="icon ion-checkmark-round"></i>
      Ver Eventos de mi hijo
    </a>

    <a href="#/tab/medal" class="item item-icon-left">
      <i class="icon ion-ios-pulse"></i>
      Ver reconocimientos de  mi hijo
    </a>

  </div>


  </ion-content>
</ion-view>
