

<ion-view  view-title="Hijo">
  <ion-content class="padding" data-tap-disabled="true" id="son">

  <div class="item item-thumbnail-left">
    <img src="img/adam.jpg">
    <h4>Andres Alcazares</h4>
  </div>

  <div class="list card">

    <a href="#/tab/medal" class="item item-icon-left" transitiontype="slide" direction="left" go-native>
      <i class="icon ion-ios-pulse"></i>
      Ver reconocimientos de  mi hijo
    </a>

    <a href="#/tab/chats-son" class="item item-icon-left" transitiontype="slide" direction="left" go-native>
      <i class="icon ion-ios-chatboxes"></i>
      Ver mensajes de  mi hijo
    </a>

  </div>

  </ion-content>
</ion-view>
