<ion-view view-title="Cuenta">

    <ion-content class="content has-header ionic-pseudo">

      <div class="list acount">

        <a class="item item-icon-left" href="#/tab/new-message">
          <i class="icon ion-plus-round"></i>
          Nuevo mensaje
        </a>

        <a class="item item-icon-left" href="#/tab/calender">
          <i class="icon ion-ios-calendar-outline"></i>
          Calendario
          <span class="badge badge-assertive">1 <small>Diciembre</small></span>
        </a>

        <a class="item item-icon-left" href="#/tab/magazine">
          <i class="icon ion-ios-bookmarks-outline"></i>
          Revistas
        </a>


        <a class="item item-icon-left" href="#/tab/institute">
          <i class="icon ion-university"></i>
          Colegio
        </a>



        <div class="item item-divider">
          Hijos
        </div>

        <a class="item item-icon-left" href="#/tab/son">
          <i class="icon ion-ios-person-outline"></i>
          Mario
        </a>

      </div>

    </ion-content>

</ion-view>

