  {#include file="master/general/header.html"|filetemplate#}
  </head>
  <body>

  {#include file="master/profile/profile-nav.html"|filetemplate#}

  <section class="content-header">
    <h1>
      Crear grupo
      <small>formulario para crear grupos</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
      <li><a href="#">Grupo</a></li>
      <li class="active">Crear grupo</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <!-- left column -->
      <div class="col-md-12">
        <!-- general form elements -->
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Complete los datos para crear una grupo</h3>
          </div><!-- /.box-header -->
          <!-- form start -->
          <form role="form" autocomplete="off" id="form-group" data-action="update">
            <div class="box-body">
              <div class="form-group">
                <label for="institution">Institución</label>
                <select class="form-control select2" style="width: 100%;" name="institution" id="institution" data-placeholder="Seleecione institución">
                  {# foreach from=$institutions item=institution #}
                    {#if $group.idInstitucion==$institution->idInstitucion#}
                      <option value="{#$institution->idInstitucion#}" >
                        {#$institution->institucion#}
                      </option>
                    {#/if#}
                  {#/foreach#}
                </select>
              </div>
              <div class="form-group">
                <label for="degree">Grado</label>
                <input type="text" class="form-control" name="degree" id="degree" placeholder="Digite el grado" value="{#$group.grado#}">
              </div>
              <div class="form-group">
                <label for="id">Identificador</label>
                <input type="text" class="form-control" name="id" id="id" placeholder="Digite el identificador" value="{#$group.identificador#}">
              </div>
            </div><!-- /.box-body -->
            <input type="hidden" name="idGrupo" value="{#$group.idGrupo#}">
            <div class="box-footer">
              <button type="button" class="btn btn-primary">Enviar</button>
            </div>
          </form>
        </div><!-- /.box -->

      </div><!--/.col (left) -->

    </div>   <!-- /.row -->
  </section><!-- /.content -->

  {#include file="master/general/footer.html"|filetemplate#}
  {#include file="master/general/scripts.html"|filetemplate#}
  <script src="{#'resources/js/vendor/select2-full.js'|fileversion#}"></script>
  <script src="{#'resources/js/profile/group.js'|fileversion#}"></script>
  {#include file="master/general/botoom.html"|filetemplate#}

