body { background: transparent none repeat-x scroll left top; }
.wb_sbg { background: transparent none repeat-x scroll left top; }
body, .wb_sbg { min-width: 320px; min-height: 2252px; }
.root { width: 320px; height: 2252px; overflow: hidden; }
#wb_element_instance49 { left: 0px; top: 23px; min-width: 320px; width: 320px; min-height: 30px; height: 30px; display: block; z-index: 142; }
#wb_element_instance49 ul { background: #000000 none repeat scroll left top; }
#wb_element_instance49 .btn-collapser { display: inline-block; }
#wb_element_instance49 > ul { display: none; }
#wb_element_instance49.collapse-expanded > ul { display: block; float: none; height: auto; }
#wb_element_instance49.collapse-expanded > ul > li { display: block; }
#wb_element_instance49.collapse-expanded > ul > li > ul { position: static; }
#wb_element_instance49.collapse-expanded > ul > li:hover > ul { display: none; }
#wb_element_instance49 ul { border: 1px none #000000; }
#wb_element_instance49, #wb_element_instance49 ul { text-align: right; }
#wb_element_instance49 ul ul { background: #000000 none repeat scroll right top; }
#wb_element_instance49 li { margin: 0px 0px 0px 60px; }
#wb_element_instance49 li a { text-transform: uppercase; border: 0px none #000000; padding: 20px 20px 20px 20px; font: normal bold 14px Helvetica,Arial,sans-serif; text-decoration: none; color: #ffffff; line-height: 16px; background: transparent none repeat-x scroll center center; }
#wb_element_instance49 li:hover > a, #wb_element_instance49 li:focus > a { border: 0px none #000000; font: normal bold 14px Helvetica,Arial,sans-serif; text-decoration: none; color: #0097e3; line-height: 16px; background: transparent none repeat-x scroll center center; }
#wb_element_instance49 li.active > a { border: 0px none #000000; font: normal bold 14px Helvetica,Arial,sans-serif; text-decoration: none; color: #0097e3; line-height: 16px; background: transparent none repeat-x scroll center center; }
#wb_element_instance50 { left: 0px; top: 0px; min-width: 219px; width: 219px; min-height: 24px; height: 24px; display: block; z-index: 144; }
#wb_element_instance51 { left: 0px; top: 20px; display: block; z-index: 9000; }
#wb_element_instance52 { left: 0px; top: 74px; display: block; z-index: 9999; }

@media (min-width: 768px) {
	body, .wb_sbg { min-width: 992px; min-height: 1800px; }
	.root { width: 992px; height: 1800px; overflow: visible; }
	#wb_element_instance49 { left: 510px; top: 13px; min-width: 470px; width: 470px; min-height: 50px; height: 50px; display: block; }
	#wb_element_instance49 ul { background: transparent none repeat scroll right top; }
	#wb_element_instance49 .btn-collapser { display: none; }
	#wb_element_instance49 > ul { display: block; }
	#wb_element_instance50 { left: 0px; top: 30px; min-width: 247px; width: 247px; min-height: 24px; height: 24px; display: block; }
}

@media (min-width: 992px) {
	body, .wb_sbg { min-width: 992px; min-height: 1800px; }
	.root { width: 992px; height: 1800px; overflow: visible; }
	#wb_element_instance49 { left: 510px; top: 13px; min-width: 470px; width: 470px; min-height: 50px; height: 50px; display: block; }
	#wb_element_instance49 ul { background: transparent none repeat scroll right top; }
	#wb_element_instance49 .btn-collapser { display: none; }
	#wb_element_instance49 > ul { display: block; }
	#wb_element_instance50 { left: 0px; top: 30px; min-width: 247px; width: 247px; min-height: 24px; height: 24px; display: block; }
}

@media (min-width: 1200px) {
	body, .wb_sbg { min-width: 992px; min-height: 1800px; }
	.root { width: 992px; height: 1800px; overflow: visible; }
	#wb_element_instance49 { left: 510px; top: 13px; min-width: 470px; width: 470px; min-height: 50px; height: 50px; display: block; }
	#wb_element_instance49 ul { background: transparent none repeat scroll right top; }
	#wb_element_instance49 .btn-collapser { display: none; }
	#wb_element_instance49 > ul { display: block; }
	#wb_element_instance50 { left: 0px; top: 30px; min-width: 247px; width: 247px; min-height: 24px; height: 24px; display: block; }
}
