#wb_header { background: transparent none repeat scroll left top; height: 108px; }
#wb_header { height: 108px; }
#wb_main { background: transparent none repeat scroll left top; height: 1568px; padding: 0 0 50px 0; }
#wb_main { height: 2070px; }
#wb_footer { background: transparent none repeat-x scroll left top; height: 74px; }
#wb_footer { height: 74px; }
body { background: #ffffff url("../gallery_gen/45bb473ce6f7e23e2bf0c06634c8a59e.jpg") no-repeat scroll center top; }
.wb_sbg { background: transparent url("../gallery_gen/01386ef9c0b42c65231496a63d46a76e.jpg") repeat-x scroll center top; }
body, .wb_sbg { min-width: 320px; min-height: 2252px; }
.root { width: 320px; height: 2252px; overflow: hidden; }
#wb_element_instance0 { left: 0px; top: 23px; min-width: 320px; width: 320px; min-height: 30px; height: 30px; display: block; z-index: 142; }
#wb_element_instance0 ul { background: #000000 none repeat scroll left top; }
#wb_element_instance0 .btn-collapser { display: inline-block; }
#wb_element_instance0 > ul { display: none; }
#wb_element_instance0.collapse-expanded > ul { display: block; float: none; height: auto; }
#wb_element_instance0.collapse-expanded > ul > li { display: block; }
#wb_element_instance0.collapse-expanded > ul > li > ul { position: static; }
#wb_element_instance0.collapse-expanded > ul > li:hover > ul { display: none; }
#wb_element_instance0 ul { border: 1px none #000000; }
#wb_element_instance0, #wb_element_instance0 ul { text-align: right; }
#wb_element_instance0 ul ul { background: #000000 none repeat scroll right top; }
#wb_element_instance0 li { margin: 0px 0px 0px 60px; }
#wb_element_instance0 li a { text-transform: uppercase; border: 0px none #000000; padding: 20px 20px 20px 20px; font: normal bold 14px Helvetica,Arial,sans-serif; text-decoration: none; color: #ffffff; line-height: 16px; background: transparent none repeat-x scroll center center; }
#wb_element_instance0 li:hover > a, #wb_element_instance0 li:focus > a { border: 0px none #000000; font: normal bold 14px Helvetica,Arial,sans-serif; text-decoration: none; color: #0097e3; line-height: 16px; background: transparent none repeat-x scroll center center; }
#wb_element_instance0 li.active > a { border: 0px none #000000; font: normal bold 14px Helvetica,Arial,sans-serif; text-decoration: none; color: #0097e3; line-height: 16px; background: transparent none repeat-x scroll center center; }
#wb_element_instance1 { left: 0px; top: 0px; min-width: 219px; width: 219px; min-height: 24px; height: 24px; display: block; z-index: 144; }
#wb_element_instance2 { left: 0px; top: 0px; min-width: 130px; width: 130px; min-height: 70px; height: 70px; display: block; z-index: 127; overflow: hidden; }
#wb_element_instance2 img { width: 130px; height: 90px; position: relative; left: 0px; top: 0px; max-width: inherit; }
#wb_element_instance3 { left: 0px; top: 1713px; min-width: 305px; width: 305px; min-height: 56px; height: 56px; display: block; z-index: 87; }
#wb_element_instance4 { left: 0px; top: 960px; min-width: 307px; width: 307px; min-height: 96px; height: 96px; display: block; z-index: 91; }
#wb_element_instance5 { left: 0px; top: 1250px; min-width: 307px; width: 307px; min-height: 96px; height: 96px; display: block; z-index: 92; }
#wb_element_instance6 { left: 0px; top: 1440px; min-width: 298px; width: 298px; min-height: 72px; height: 72px; display: block; z-index: 93; }
#wb_element_instance7 { left: 0px; top: 1828px; min-width: 320px; width: 320px; min-height: 192px; height: 192px; display: block; z-index: 94; }
#wb_element_instance8 { left: 10px; top: 1220px; min-width: 240px; width: 240px; min-height: 60px; height: 60px; display: block; z-index: 95; }
#wb_element_instance8 .wb_button span { padding: 20px 0px 0px 0px; }
#wb_element_instance8 .wb_button { width: 240px; height: 60px; }
#wb_element_instance8 .wb_button { font-family: Arial,Helvetica,sans-serif; font-size: 22px; text-align: center; border: 0px solid #cccccc; border-radius: 6px; -webkit-border-radius: 6px; -moz-border-radius: 6px; color: #ffffff; font-style: normal; font-weight: normal; text-decoration: none; background: #00aaff none repeat scroll left top; }
#wb_element_instance8 .wb_button:hover { color: #ffffff; font-style: normal; font-weight: normal; text-decoration: none; background: #0097e3 none repeat scroll left top; }
#wb_element_instance8 .wb_button:active { color: #333333; font-style: normal; font-weight: normal; text-decoration: none; background: #E6E6E6 none repeat scroll left top; }
#wb_element_instance9 { left: 0px; top: 1150px; min-width: 240px; width: 240px; min-height: 60px; height: 60px; display: block; z-index: 100; }
#wb_element_instance9 .wb_button span { padding: 20px 0px 0px 0px; }
#wb_element_instance9 .wb_button { width: 240px; height: 60px; }
#wb_element_instance9 .wb_button { font-family: Arial,Helvetica,sans-serif; font-size: 22px; text-align: center; border: 0px solid #cccccc; border-radius: 6px; -webkit-border-radius: 6px; -moz-border-radius: 6px; color: #ffffff; font-style: normal; font-weight: normal; text-decoration: none; background: #5bb75b none repeat scroll left top; }
#wb_element_instance9 .wb_button:hover { color: #ffffff; font-style: normal; font-weight: normal; text-decoration: none; background: #359935 none repeat scroll left top; }
#wb_element_instance9 .wb_button:active { color: #333333; font-style: normal; font-weight: normal; text-decoration: none; background: #E6E6E6 none repeat scroll left top; }
#wb_element_instance10 { left: 100px; top: 570px; min-width: 110px; width: 110px; min-height: 110px; height: 110px; display: block; z-index: 105; }
#wb_element_instance10 > div { width: 110px; height: 110px; background: #ffffff; border: 0px solid #C0C0C0; opacity: 1; border-radius: 100px 100px 100px 100px; -moz-border-radius: 100px 100px 100px 100px; -webkit-border-radius: 100px 100px 100px 100px; }
#wb_element_instance11 { left: 140px; top: 610px; min-width: 30px; width: 30px; min-height: 30px; height: 30px; display: block; z-index: 109; }
#wb_element_instance11 img { width: 30px; height: 30px; position: static; left: 0px; top: 0px; }
#wb_element_instance12 { left: 10px; top: 240px; min-width: 270px; width: 270px; min-height: 330px; height: 330px; display: block; z-index: 102; }
#wb_element_instance12 img { width: 270px; height: 330px; position: static; left: 0px; top: 0px; }
#wb_element_instance13 { left: 50px; top: 130px; min-width: 220px; width: 220px; min-height: 60px; height: 60px; display: block; z-index: 120; }
#wb_element_instance14 { left: 80px; top: 1080px; min-width: 110px; width: 110px; min-height: 130px; height: 130px; display: block; z-index: 112; }
#wb_element_instance14 img { width: 110px; height: 130px; position: static; left: 0px; top: 0px; }
#wb_element_instance15 { left: 200px; top: 1050px; min-width: 110px; width: 110px; min-height: 130px; height: 130px; display: block; z-index: 114; }
#wb_element_instance15 img { width: 110px; height: 130px; position: static; left: 0px; top: 0px; }
#wb_element_instance16 { left: 100px; top: 1300px; min-width: 110px; width: 110px; min-height: 130px; height: 130px; display: block; z-index: 115; }
#wb_element_instance16 img { width: 110px; height: 130px; position: static; left: 0px; top: 0px; }
#wb_element_instance17 { left: 10px; top: 700px; min-width: 300px; width: 300px; min-height: 208px; height: 208px; display: block; z-index: 113; }
#wb_element_instance18 { left: 10px; top: 71px; min-width: 300px; width: 300px; min-height: 28px; height: 28px; display: block; z-index: 118; }
#wb_element_instance19 { left: 10px; top: 50px; min-width: 300px; width: 300px; min-height: 180px; height: 180px; display: block; z-index: 117; }
#wb_element_instance19 > div { width: 300px; height: 180px; background: #ffffff; border: 5px solid #C0C0C0; opacity: 0.7; border-radius: 10px 10px 10px 10px; -moz-border-radius: 10px 10px 10px 10px; -webkit-border-radius: 10px 10px 10px 10px; }
#wb_element_instance20 { left: 830px; top: 110px; min-width: 230px; width: 230px; min-height: 410px; height: 410px; display: block; z-index: 121; }
#wb_element_instance20 img { width: 230px; height: 410px; position: static; left: 0px; top: 0px; }
#wb_element_instance21 { left: 10px; top: 1320px; min-width: 970px; width: 970px; min-height: 100px; height: 100px; display: block; z-index: 122; }
#wb_element_instance22 { left: 0px; top: 1713px; min-width: 305px; width: 305px; min-height: 56px; height: 56px; display: block; z-index: 89; }
#wb_element_instance23 { left: 10px; top: 980px; min-width: 970px; width: 970px; min-height: 100px; height: 100px; display: block; z-index: 124; }
#wb_element_instance24 { left: 0px; top: 1828px; min-width: 320px; width: 320px; min-height: 192px; height: 192px; display: block; z-index: 96; }
#wb_element_instance25 { left: 0px; top: 1588px; display: block; z-index: 9000; }
#wb_element_instance26 { left: 0px; top: 74px; display: block; z-index: 9999; }

@media (min-width: 768px) {
	#wb_header { height: 108px; }
	#wb_main { height: 1618px; }
	#wb_footer { height: 74px; }
	body, .wb_sbg { min-width: 992px; min-height: 1800px; }
	.root { width: 992px; height: 1800px; overflow: visible; }
	#wb_element_instance0 { left: 510px; top: 13px; min-width: 470px; width: 470px; min-height: 50px; height: 50px; display: block; }
	#wb_element_instance0 ul { background: transparent none repeat scroll right top; }
	#wb_element_instance0 .btn-collapser { display: none; }
	#wb_element_instance0 > ul { display: block; }
	#wb_element_instance1 { left: 0px; top: 30px; min-width: 247px; width: 247px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance2 { left: 1px; top: -10px; min-width: 140px; width: 140px; min-height: 80px; height: 80px; display: block; overflow: hidden; }
	#wb_element_instance2 img { width: 130px; height: 90px; position: relative; left: 0px; top: 0px; max-width: inherit; }
	#wb_element_instance3 { left: 30px; top: 1100px; min-width: 305px; width: 305px; min-height: 68px; height: 68px; display: block; }
	#wb_element_instance4 { left: 0px; top: 868px; min-width: 307px; width: 307px; min-height: 102px; height: 102px; display: block; }
	#wb_element_instance5 { left: 352px; top: 869px; min-width: 307px; width: 307px; min-height: 102px; height: 102px; display: block; }
	#wb_element_instance6 { left: 700px; top: 870px; min-width: 290px; width: 290px; min-height: 102px; height: 102px; display: block; }
	#wb_element_instance7 { left: 370px; top: 1430px; min-width: 597px; width: 597px; min-height: 138px; height: 138px; display: block; }
	#wb_element_instance8 { left: 0px; top: 219px; min-width: 240px; width: 240px; min-height: 70px; height: 70px; display: block; }
	#wb_element_instance8 .wb_button span { padding: 19px 0px 0px 0px; }
	#wb_element_instance8 .wb_button { width: 240px; height: 70px; }
	#wb_element_instance9 { left: 275px; top: 219px; min-width: 240px; width: 240px; min-height: 70px; height: 70px; display: block; }
	#wb_element_instance9 .wb_button span { padding: 19px 0px 0px 0px; }
	#wb_element_instance9 .wb_button { width: 240px; height: 70px; }
	#wb_element_instance10 { left: 390px; top: 520px; min-width: 200px; width: 200px; min-height: 200px; height: 200px; display: block; }
	#wb_element_instance10 > div { width: 200px; height: 200px; }
	#wb_element_instance11 { left: 470px; top: 590px; min-width: 50px; width: 50px; min-height: 50px; height: 50px; display: block; }
	#wb_element_instance11 img { width: 50px; height: 50px; position: static; left: 0px; top: 0px; }
	#wb_element_instance12 { left: 690px; top: 43px; min-width: 431px; width: 431px; min-height: 529px; height: 529px; display: block; }
	#wb_element_instance12 img { width: 431px; height: 529px; position: static; left: 0px; top: 0px; }
	#wb_element_instance13 { left: 50px; top: 140px; min-width: 410px; width: 410px; min-height: 35px; height: 35px; display: block; }
	#wb_element_instance14 { left: 100px; top: 738px; min-width: 110px; width: 110px; min-height: 130px; height: 130px; display: block; }
	#wb_element_instance14 img { width: 110px; height: 130px; position: static; left: 0px; top: 0px; }
	#wb_element_instance15 { left: 450px; top: 738px; min-width: 110px; width: 110px; min-height: 130px; height: 130px; display: block; }
	#wb_element_instance15 img { width: 110px; height: 130px; position: static; left: 0px; top: 0px; }
	#wb_element_instance16 { left: 790px; top: 738px; min-width: 110px; width: 110px; min-height: 130px; height: 130px; display: block; }
	#wb_element_instance16 img { width: 110px; height: 130px; position: static; left: 0px; top: 0px; }
	#wb_element_instance17 { left: 0px; top: 387px; min-width: 450px; width: 450px; min-height: 130px; height: 130px; display: block; }
	#wb_element_instance18 { left: 50px; top: 110px; min-width: 410px; width: 410px; min-height: 34px; height: 34px; display: block; }
	#wb_element_instance19 { left: 60px; top: 90px; min-width: 400px; width: 400px; min-height: 110px; height: 110px; display: block; }
	#wb_element_instance19 > div { width: 400px; height: 110px; }
	#wb_element_instance20 { left: 830px; top: 110px; min-width: 230px; width: 230px; min-height: 410px; height: 410px; display: block; }
	#wb_element_instance20 img { width: 230px; height: 410px; position: static; left: 0px; top: 0px; }
	#wb_element_instance21 { left: 10px; top: 1320px; min-width: 970px; width: 970px; min-height: 100px; height: 100px; display: block; }
	#wb_element_instance22 { left: 20px; top: 1430px; min-width: 305px; width: 305px; min-height: 68px; height: 68px; display: block; }
	#wb_element_instance23 { left: 10px; top: 980px; min-width: 970px; width: 970px; min-height: 100px; height: 100px; display: block; }
	#wb_element_instance24 { left: 350px; top: 1080px; min-width: 597px; width: 597px; min-height: 184px; height: 184px; display: block; }
}

@media (min-width: 992px) {
	#wb_header { height: 108px; }
	#wb_main { height: 1618px; }
	#wb_footer { height: 74px; }
	body, .wb_sbg { min-width: 992px; min-height: 1800px; }
	.root { width: 992px; height: 1800px; overflow: visible; }
	#wb_element_instance0 { left: 510px; top: 13px; min-width: 470px; width: 470px; min-height: 50px; height: 50px; display: block; }
	#wb_element_instance0 ul { background: transparent none repeat scroll right top; }
	#wb_element_instance0 .btn-collapser { display: none; }
	#wb_element_instance0 > ul { display: block; }
	#wb_element_instance1 { left: 0px; top: 30px; min-width: 247px; width: 247px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance2 { left: 1px; top: -10px; min-width: 140px; width: 140px; min-height: 80px; height: 80px; display: block; overflow: hidden; }
	#wb_element_instance2 img { width: 130px; height: 90px; position: relative; left: 0px; top: 0px; max-width: inherit; }
	#wb_element_instance3 { left: 30px; top: 1100px; min-width: 305px; width: 305px; min-height: 68px; height: 68px; display: block; }
	#wb_element_instance4 { left: 0px; top: 868px; min-width: 307px; width: 307px; min-height: 102px; height: 102px; display: block; }
	#wb_element_instance5 { left: 352px; top: 869px; min-width: 307px; width: 307px; min-height: 102px; height: 102px; display: block; }
	#wb_element_instance6 { left: 700px; top: 870px; min-width: 290px; width: 290px; min-height: 102px; height: 102px; display: block; }
	#wb_element_instance7 { left: 370px; top: 1430px; min-width: 597px; width: 597px; min-height: 138px; height: 138px; display: block; }
	#wb_element_instance8 { left: 0px; top: 219px; min-width: 240px; width: 240px; min-height: 70px; height: 70px; display: block; }
	#wb_element_instance8 .wb_button span { padding: 19px 0px 0px 0px; }
	#wb_element_instance8 .wb_button { width: 240px; height: 70px; }
	#wb_element_instance9 { left: 275px; top: 219px; min-width: 240px; width: 240px; min-height: 70px; height: 70px; display: block; }
	#wb_element_instance9 .wb_button span { padding: 19px 0px 0px 0px; }
	#wb_element_instance9 .wb_button { width: 240px; height: 70px; }
	#wb_element_instance10 { left: 390px; top: 520px; min-width: 200px; width: 200px; min-height: 200px; height: 200px; display: block; }
	#wb_element_instance10 > div { width: 200px; height: 200px; }
	#wb_element_instance11 { left: 470px; top: 590px; min-width: 50px; width: 50px; min-height: 50px; height: 50px; display: block; }
	#wb_element_instance11 img { width: 50px; height: 50px; position: static; left: 0px; top: 0px; }
	#wb_element_instance12 { left: 690px; top: 43px; min-width: 431px; width: 431px; min-height: 529px; height: 529px; display: block; }
	#wb_element_instance12 img { width: 431px; height: 529px; position: static; left: 0px; top: 0px; }
	#wb_element_instance13 { left: 50px; top: 140px; min-width: 410px; width: 410px; min-height: 35px; height: 35px; display: block; }
	#wb_element_instance14 { left: 100px; top: 738px; min-width: 110px; width: 110px; min-height: 130px; height: 130px; display: block; }
	#wb_element_instance14 img { width: 110px; height: 130px; position: static; left: 0px; top: 0px; }
	#wb_element_instance15 { left: 450px; top: 738px; min-width: 110px; width: 110px; min-height: 130px; height: 130px; display: block; }
	#wb_element_instance15 img { width: 110px; height: 130px; position: static; left: 0px; top: 0px; }
	#wb_element_instance16 { left: 790px; top: 738px; min-width: 110px; width: 110px; min-height: 130px; height: 130px; display: block; }
	#wb_element_instance16 img { width: 110px; height: 130px; position: static; left: 0px; top: 0px; }
	#wb_element_instance17 { left: 0px; top: 387px; min-width: 450px; width: 450px; min-height: 130px; height: 130px; display: block; }
	#wb_element_instance18 { left: 50px; top: 110px; min-width: 410px; width: 410px; min-height: 34px; height: 34px; display: block; }
	#wb_element_instance19 { left: 60px; top: 90px; min-width: 400px; width: 400px; min-height: 110px; height: 110px; display: block; }
	#wb_element_instance19 > div { width: 400px; height: 110px; }
	#wb_element_instance20 { left: 830px; top: 110px; min-width: 230px; width: 230px; min-height: 410px; height: 410px; display: block; }
	#wb_element_instance20 img { width: 230px; height: 410px; position: static; left: 0px; top: 0px; }
	#wb_element_instance21 { left: 10px; top: 1320px; min-width: 970px; width: 970px; min-height: 100px; height: 100px; display: block; }
	#wb_element_instance22 { left: 20px; top: 1430px; min-width: 305px; width: 305px; min-height: 68px; height: 68px; display: block; }
	#wb_element_instance23 { left: 10px; top: 980px; min-width: 970px; width: 970px; min-height: 100px; height: 100px; display: block; }
	#wb_element_instance24 { left: 350px; top: 1080px; min-width: 597px; width: 597px; min-height: 184px; height: 184px; display: block; }
}

@media (min-width: 1200px) {
	#wb_header { height: 108px; }
	#wb_main { height: 1618px; }
	#wb_footer { height: 74px; }
	body, .wb_sbg { min-width: 992px; min-height: 1800px; }
	.root { width: 992px; height: 1800px; overflow: visible; }
	#wb_element_instance0 { left: 510px; top: 13px; min-width: 470px; width: 470px; min-height: 50px; height: 50px; display: block; }
	#wb_element_instance0 ul { background: transparent none repeat scroll right top; }
	#wb_element_instance0 .btn-collapser { display: none; }
	#wb_element_instance0 > ul { display: block; }
	#wb_element_instance1 { left: 0px; top: 30px; min-width: 247px; width: 247px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance2 { left: 1px; top: -10px; min-width: 140px; width: 140px; min-height: 80px; height: 80px; display: block; overflow: hidden; }
	#wb_element_instance2 img { width: 130px; height: 90px; position: relative; left: 0px; top: 0px; max-width: inherit; }
	#wb_element_instance3 { left: 30px; top: 1100px; min-width: 305px; width: 305px; min-height: 68px; height: 68px; display: block; }
	#wb_element_instance4 { left: 0px; top: 868px; min-width: 307px; width: 307px; min-height: 102px; height: 102px; display: block; }
	#wb_element_instance5 { left: 352px; top: 869px; min-width: 307px; width: 307px; min-height: 102px; height: 102px; display: block; }
	#wb_element_instance6 { left: 700px; top: 870px; min-width: 290px; width: 290px; min-height: 102px; height: 102px; display: block; }
	#wb_element_instance7 { left: 370px; top: 1430px; min-width: 597px; width: 597px; min-height: 138px; height: 138px; display: block; }
	#wb_element_instance8 { left: 0px; top: 219px; min-width: 240px; width: 240px; min-height: 70px; height: 70px; display: block; }
	#wb_element_instance8 .wb_button span { padding: 19px 0px 0px 0px; }
	#wb_element_instance8 .wb_button { width: 240px; height: 70px; }
	#wb_element_instance9 { left: 275px; top: 219px; min-width: 240px; width: 240px; min-height: 70px; height: 70px; display: block; }
	#wb_element_instance9 .wb_button span { padding: 19px 0px 0px 0px; }
	#wb_element_instance9 .wb_button { width: 240px; height: 70px; }
	#wb_element_instance10 { left: 390px; top: 520px; min-width: 200px; width: 200px; min-height: 200px; height: 200px; display: block; }
	#wb_element_instance10 > div { width: 200px; height: 200px; }
	#wb_element_instance11 { left: 470px; top: 590px; min-width: 50px; width: 50px; min-height: 50px; height: 50px; display: block; }
	#wb_element_instance11 img { width: 50px; height: 50px; position: static; left: 0px; top: 0px; }
	#wb_element_instance12 { left: 690px; top: 43px; min-width: 431px; width: 431px; min-height: 529px; height: 529px; display: block; }
	#wb_element_instance12 img { width: 431px; height: 529px; position: static; left: 0px; top: 0px; }
	#wb_element_instance13 { left: 50px; top: 140px; min-width: 410px; width: 410px; min-height: 35px; height: 35px; display: block; }
	#wb_element_instance14 { left: 100px; top: 738px; min-width: 110px; width: 110px; min-height: 130px; height: 130px; display: block; }
	#wb_element_instance14 img { width: 110px; height: 130px; position: static; left: 0px; top: 0px; }
	#wb_element_instance15 { left: 450px; top: 738px; min-width: 110px; width: 110px; min-height: 130px; height: 130px; display: block; }
	#wb_element_instance15 img { width: 110px; height: 130px; position: static; left: 0px; top: 0px; }
	#wb_element_instance16 { left: 790px; top: 738px; min-width: 110px; width: 110px; min-height: 130px; height: 130px; display: block; }
	#wb_element_instance16 img { width: 110px; height: 130px; position: static; left: 0px; top: 0px; }
	#wb_element_instance17 { left: 0px; top: 387px; min-width: 450px; width: 450px; min-height: 130px; height: 130px; display: block; }
	#wb_element_instance18 { left: 50px; top: 110px; min-width: 410px; width: 410px; min-height: 34px; height: 34px; display: block; }
	#wb_element_instance19 { left: 60px; top: 90px; min-width: 400px; width: 400px; min-height: 110px; height: 110px; display: block; }
	#wb_element_instance19 > div { width: 400px; height: 110px; }
	#wb_element_instance20 { left: 830px; top: 110px; min-width: 230px; width: 230px; min-height: 410px; height: 410px; display: block; }
	#wb_element_instance20 img { width: 230px; height: 410px; position: static; left: 0px; top: 0px; }
	#wb_element_instance21 { left: 10px; top: 1320px; min-width: 970px; width: 970px; min-height: 100px; height: 100px; display: block; }
	#wb_element_instance22 { left: 20px; top: 1430px; min-width: 305px; width: 305px; min-height: 68px; height: 68px; display: block; }
	#wb_element_instance23 { left: 10px; top: 980px; min-width: 970px; width: 970px; min-height: 100px; height: 100px; display: block; }
	#wb_element_instance24 { left: 350px; top: 1080px; min-width: 597px; width: 597px; min-height: 184px; height: 184px; display: block; }
}
