
          <ul class="sidebar-menu">
            <li class="header">Menu de navegación</li>
            <li class="treeview">
              <a href="#">
                <i class="fa fa-institution"></i> <span>Institución</span> <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li><a href="{#$smarty.const.BASE#}crear-institucion"><i class="fa fa-plus"></i> Crear institución</a></li>
                <li><a href="{#$smarty.const.BASE#}instituciones"><i class="fa fa-table"></i> Ver instituciones</a></li>
              </ul>
            </li>
            <li class="treeview">
              <a href="#">
                <i class="fa fa-users"></i> <span>Usuarios</span> <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li><a href="{#$smarty.const.BASE#}crear-usuario"><i class="fa fa-plus"></i> Crear usuario</a></li>
                <li><a href="{#$smarty.const.BASE#}usuarios"><i class="fa fa-table"></i> Ver usuarios</a></li>
              </ul>
            </li>
            <li>
              <a href="{#$smarty.const.BASE#}notificaciones">
                <i class="fa fa-envelope"></i> <span>Notificaciones</span>
              </a>
            </li>
            <li><a href="documentation/index.html"><i class="fa fa-book"></i> <span>Ayuda</span></a></li>

          </ul>
