
          <ul class="sidebar-menu">
            <li class="header">Menu de navegación</li>
            <li class="treeview">
              <a href="#">
                <i class="fa fa-newspaper-o"></i> <span>Noticias</span> <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li><a href="{#$smarty.const.BASE#}crear-noticia"><i class="fa fa-plus"></i> Crear noticia</a></li>
                <li><a href="{#$smarty.const.BASE#}noticias"><i class="fa fa-table"></i> Ver noticias</a></li>
              </ul>
            </li>
            <li class="treeview">
              <a href="#">
                <i class="fa fa-ticket"></i> <span>Eventos</span> <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li><a href="{#$smarty.const.BASE#}crear-evento"><i class="fa fa-plus"></i> Crear evento</a></li>
                <li><a href="{#$smarty.const.BASE#}eventos"><i class="fa fa-table"></i> Ver eventos</a></li>
              </ul>
            </li>
            <li class="treeview">
              <a href="#">
                <i class="fa fa-paper-plane-o"></i> <span>Mensajes</span> <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li><a href="{#$smarty.const.BASE#}crear-mensaje"><i class="fa fa-plus"></i> Crear mensaje</a></li>
                <li><a href="{#$smarty.const.BASE#}mensajes"><i class="fa fa-table"></i> Ver menasajes</a></li>
              </ul>
            </li>

            <li>
              <a href="#">
                <i class="fa fa-envelope"></i> <span>Notificaciones</span>
                <!--small class="label pull-right bg-yellow">12</small-->
              </a>
            </li>
            <li><a href="documentation/index.html"><i class="fa fa-book"></i> <span>Ayuda</span></a></li>

          </ul>
