
          <ul class="sidebar-menu">
            <li class="header">Menu de navegación</li>
            <li class="treeview">
              <a href="#">
                <i class="fa fa-object-group"></i> <span>Grupos</span> <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li><a href="{#$smarty.const.BASE#}crear-grupo"><i class="fa fa-plus"></i> Crear grupo</a></li>
                <li><a href="{#$smarty.const.BASE#}grupos"><i class="fa fa-table"></i> Ver grupos</a></li>
              </ul>
            </li>
            <li class="treeview">
              <a href="#">
                <i class="fa fa-users"></i> <span>Usuarios</span> <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li><a href="{#$smarty.const.BASE#}crear-usuario"><i class="fa fa-plus"></i> Crear usuario</a></li>
                <li><a href="{#$smarty.const.BASE#}usuarios"><i class="fa fa-table"></i> Ver usuarios</a></li>
                <li><a href="{#$smarty.const.BASE#}importar-usuarios"><i class="fa fa-upload"></i>Importar usuarios</a></li>
              </ul>
            </li>
            <li class="treeview">
              <a href="#">
                <i class="fa fa-newspaper-o"></i> <span>Noticias</span> <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li><a href="{#$smarty.const.BASE#}crear-noticia"><i class="fa fa-plus"></i> Crear noticia</a></li>
                <li><a href="{#$smarty.const.BASE#}noticias"><i class="fa fa-table"></i> Ver noticias</a></li>
              </ul>
            </li>
            <li class="treeview">
              <a href="#">
                <i class="fa fa-ticket"></i> <span>Eventos</span> <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li><a href="{#$smarty.const.BASE#}crear-evento"><i class="fa fa-plus"></i> Crear evento</a></li>
                <li><a href="{#$smarty.const.BASE#}eventos"><i class="fa fa-table"></i> Ver eventos</a></li>
              </ul>
            </li>
            <li class="treeview">
              <a href="#">
                <i class="fa fa-paper-plane-o"></i> <span>Mensajes</span> <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li><a href="{#$smarty.const.BASE#}crear-mensaje"><i class="fa fa-plus"></i> Crear mensaje</a></li>
                <li><a href="{#$smarty.const.BASE#}mensajes"><i class="fa fa-table"></i> Ver menasajes</a></li>
              </ul>
            </li>
            <li class="treeview">
              <a href="#">
                <i class="fa fa-child"></i> <span>Reconocimientos</span> <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li><a href="{#$smarty.const.BASE#}crear-reconocimiento"><i class="fa fa-plus"></i> Crear reconocimiento</a></li>
                <li><a href="{#$smarty.const.BASE#}reconocimientos"><i class="fa fa-table"></i> Ver reconocimientos</a></li>
              </ul>
            </li>
            <li class="treeview">
              <a href="#">
                <i class="fa fa-book"></i> <span>Revistas</span> <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li><a href="{#$smarty.const.BASE#}crear-revista"><i class="fa fa-plus"></i> Crear revistas</a></li>
                <li><a href="{#$smarty.const.BASE#}revistas"><i class="fa fa-table"></i> Ver revistas</a></li>
              </ul>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-magic"></i> <span>Notificaciones</span>
              </a>
            </li>
            <li><a href="documentation/index.html"><i class="fa fa-book"></i> <span>Ayuda</span></a></li>

          </ul>
