.template label > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
.template label > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
}
.template label > input:checked + img{/* (RADIO CHECKED) IMAGE STYLES */
  border: 2px solid #f49915;
  padding: 10px;
  border-radius: 8px;
}

.template img{
    width: 95%;
    display: block;
    margin: 0 auto;
}
.template label{
    width: calc(100% / 4);
    float: left;
}
.template p{
  text-align: center;
  margin-top: 10px;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #a9ca3d;
    border-color: #7F982F;
}


#editor-content{
  position: absolute;
  width: 100%;
  background: #fff;
  opacity: 0;
  top: -100%;
  height: 100%;
  left: 0;
  z-index: 1032;
}
#editor{width: 70%;position: relative;display: block;margin: 40px auto 0  auto;}
#editor-content>h1 {text-align: center;}

#editor-content>i {
  font-size: 50px;
  position: absolute;
  font-weight: 300;
  height: 50px;
  width: 50px;
  color: #000;
  font-style: normal;
  top: 5px;
  right: 5px;
  cursor: pointer;
}
