  {#include file="master/general/header.html"|filetemplate#}
    <link rel="stylesheet" href="{#'resources/css/vendor/select2.css'|fileversion#}">
  </head>

  {#include file="master/profile/profile-nav.html"|filetemplate#}

  <section class="content-header">
    <h1>
      Crear usuario
      <small>formulario para crear usuarios</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
      <li><a href="#">Usuarios</a></li>
      <li class="active">Crear usuario</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <!-- left column -->
      <div class="col-md-12">
        <!-- general form elements -->
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Complete los datos para crear una usuario</h3>
          </div><!-- /.box-header -->
          <!-- form start -->
          <form role="form" id="form-user" data-action="create">
            <div class="box-body">
              <div class="form-group">
                <label for="name">Nombre</label>
                <input type="text" class="form-control" name="name" id="name" placeholder="Digite el nombre del usuario">
              </div>
              <div class="form-group">
                <label for="name">Apellido</label>
                <input type="text" class="form-control" name="lastname" id="lastname" placeholder="Digite el apellido del usuario">
              </div>
              <div class="form-group">
                <label for="email">Grado</label>
                    <select class="form-control select2" style="width: 100%;" data-placeholder="Seleecione grado">
                      <option>Alabama</option>
                    </select>
              </div>
              <div class="form-group">
                <label for="address">Rol</label>
                <select class="form-control select2" multiple="multiple" data-placeholder="Seleecione roles" style="width: 100%;">
                      <option>Alabama</option>
                </select>
              </div>
              <div class="form-group">
                <label for="logo">Logo</label>
                <input type="file" name="logo" id="logo">
                <p class="help-block">Logo de la institución.</p>
              </div>
              <div class="checkbox">
                <label>
                  <input id="active" name="active" type="checkbox" value="check"> Activar
                </label>
              </div>
            </div><!-- /.box-body -->

            <div class="box-footer">
              <button type="button" class="btn btn-primary">Enviar</button>
            </div>
          </form>
        </div><!-- /.box -->

      </div><!--/.col (left) -->

    </div>   <!-- /.row -->
  </section><!-- /.content -->

  {#include file="master/general/footer.html"|filetemplate#}
  {#include file="master/general/scripts.html"|filetemplate#}
  <script src="../../plugins/select2/select2.full.min.js"></script>
  <script src="{#'resources/js/profile/user.js'|fileversion#}"></script>
  {#include file="master/general/botoom.html"|filetemplate#}

