  {#include file="master/general/header.html"|filetemplate#}
  <link rel="stylesheet" href="{#'resources/css/vendor/datatables-bootstrap.css'|fileversion#}">
  </head>
  {#include file="master/profile/nav.html"|filetemplate#}

  <section class="content-header">
    <h1>
      Ver reconocimientos
      <small>Listado de las reconocimientos</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
      <li><a href="#">Reconocimientos</a></li>
      <li class="active">Ver reconocimientos</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title">Listado de las reconocimientos</h3>
          </div><!-- /.box-header -->
          <div class="box-body">
            <table id="data" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>Reconocimiento</th>
                  <th>Tipo</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                {#foreach from=$honors item=honor#}
                <tr>
                  <td>{#$honor->reconocimiento#}</td>
                  <td>{#$honor->tipoReconocimiento#}</td>
                  <td>
                    <button class="btn btn-primary btn-edit" data-honor="{#$honor->idReconocimiento#}">Editar</button>
                  </td>
                </tr>
                {#/foreach#}
              </tbody>
              <tfoot>
                <tr>
                  <th>Reconocimiento</th>
                  <th>Tipo</th>
                  <th>Acciones</th>
                </tr>
              </tfoot>
            </table>
          </div><!-- /.box-body -->
        </div><!-- /.box -->
      </div><!-- /.col -->
    </div><!-- /.row -->
  </section><!-- /.content -->
  <form action="{#$smarty.const.BASE#}modificar-reconocimiento" method="post" id="form-edit">
      <input type="hidden" name="idReconocimiento">
  </form>

  {#include file="master/general/footer.html"|filetemplate#}
  {#include file="master/general/scripts.html"|filetemplate#}
  <script src="{#'resources/js/vendor/jquery-datatables.js'|fileversion#}"></script>
  <script src="{#'resources/js/vendor/datatables-bootstrap.js'|fileversion#}"></script>
  <script src="{#'resources/js/vendor/jquery-slimscroll.js'|fileversion#}"></script>
  <script>
    $(function () {

      $( ".btn-edit" ).click(function() {
        $("#form-edit input").val( $(this).attr("data-honor") );
        $("#form-edit").submit();
      });

      $("#data").DataTable();

    });
  </script>
  {#include file="master/general/botoom.html"|filetemplate#}



