<ion-view  cache-view="false" can-swipe-back="false"  view-title="Revista"  id="revista">
  <ion-content scroll="false">

     <ion-slide-box id="portada" delegate-handle="image-viewer" >

        <ion-slide  ng-repeat="magazine in magazines">
          <div class="slide-wrapper">
            <img class="slider-img" src="{{magazine.pagina}}"/>
          </div>

          <div id="buttons-magazine">

            <div class="opc">
              <ion-button class="ion-chevron-left" ng-click="previousMain()" ng-show="magazine.primero"></ion-button>
            </div>

            <div class="opc">
              <a class="ion-close" ng-click="$state.go('tab.magazines')"></a>
            </div>

            <div class="opc">
              <ion-button class="ion-chevron-right" ng-click="nextMain()" ng-show="magazine.ultimo"></ion-button>
            </div>

          </div>
        </ion-slide>

      </ion-slide-box>

  </ion-content>
</ion-view>
