<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Historial">
  <ion-content class="padding" id="detail-message">
    <ion-list>

        <div class="item item-thumbnail-left">
          <img src="{{chat.face}}">
          <h4>{{chat.name}}</h4>
        </div>

      <ion-item class="card chat item-remove-animate"  type="item-text-wrap" ng-repeat="message in messages">

        <div class="chat-media" ng-show="{{message.data}}" >
          <img src="{{message.media}}" alt="">
        </div>

        <p>{{message.description}}</p>

        <ion-option-button class="button-assertive" ng-click="removeMessage(message)">
          Delete
        </ion-option-button>

        <span class="date">{{message.date}}</span>

      </ion-item>

    </ion-list>
  </ion-content>
</ion-view>
