<ion-view  cache-view="false" can-swipe-back="false"  view-title="Historial" >

  <ion-content class="padding" id="detail-message">
    <ion-list>


        <div ng-repeat="message in messages">
          <div class="chat-media" ng-show="{{message.data}}" >
            <img src="{{message.media}}" alt="">
          </div>


          <div class="card chat">
            <div class="item item-text-wrap">
             <strong>{{message.nombre}}</strong><br> {{message.mensaje}}
            </div>
            <span class="date">{{message.fechaRegistro}}</span>
          </div>

        </div>

    </ion-list>
  </ion-content>

<div ng-show="user.insornat" ng-include="'partials/send-message.html'"> </div>

</ion-view>
