<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Responder noticia">

  <ion-content class="padding" id="dash-answer">

  <copy>
    <strong>Digite la respuesta para la noticia</strong>
    <span>{{notice.title}}</span>
    <small>su respuesta sera muy util</small>
  </copy>

  <div class="list card {{notice.stylecard}}">
    <label class="item item-input item-floating-label">
      <span class="input-label">Respuesta</span>
      <textarea type="text" placeholder="Digite su respuesta"></textarea>
    </label>

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#" >
          <i class="icon ion-ios-redo-outline"></i>
          Enviar respuesta
        </a>
      </div>

  </div>

  </ion-content>

</ion-view>
