

<ion-view  view-title="{{institution.tipoInstitucion}}">

    <ion-content class="paddingcontent has-header ionic-pseudo" id="instiuto">

      <div class="list acount card">

    <div class="item item-icon-left">
      <i class="icon ion-ios-lightbulb-outline"></i>
        {{institution.institucion}}
    </div>

    <div class="item item-icon-left">
      <i class="icon ion-ios-location-outline"></i>
        {{institution.direccion}}
    </div>

      <a class="item item-icon-left" href="tel:+{{institution.telefono}}">
        <i class="icon ion-ios-telephone-outline"></i>
        {{institution.telefono}}
      </a>

    <a class="item item-icon-left" href="mailto:info@kidsworld.com.co">
      <i class="icon ion-ios-email-outline"></i>
      {{institution.correo}}
    </a>

  </div>

  </ion-content>
</ion-view>
