<ion-view view-title="Login" name="login-view" hide-nav-bar="true">
  <ion-content id="login" has-header="false">
      <img src="img/logo-con.png" id="logo-login">
      <img src="img/login.jpg" class="img-bg">
      <label class="item item-input">
          <i class="icon ion-person placeholder-icon"></i>
          <input type="text" placeholder="Usuario" ng-model="data.username">
      </label>
      <label class="item item-input">
          <i class="icon ion-locked placeholder-icon"></i>
          <input type="password" placeholder="**********" ng-model="data.password">
      </label>
      <button class="button button-block button-calm" ng-click="login()">Ingresar</button>
  </ion-content>
</ion-view>
