<ion-view view-title="Revista" hide-tabs>
  <ion-content class="padding">
  <copy>
    <strong>Accede a la revista escolar</strong>
    <span>e infórmate sobre los avances</span>
    <small>de tu colegio.</small>
  </copy>

     <ion-slide-box >

        <ion-slide ng-click="openModal({{magazine.idRevista}})" ng-repeat="magazine in magazines">
          <div class="slide-wrapper">
            <img class="slider-img" src="{{magazine.portada}}"/>
          </div>
        </ion-slide>

      </ion-slide-box>

      <script id="image-modal.html" type="text/ng-template">
          <div class="modal image-modal transparent">
            <ion-slide-box on-slide-changed="slideChanged(index)"
                           show-pager="false">
              <ion-slide ng-repeat="oImage in aImages">
                <img ng-src="{{oImage.src}}" class="fullscreen-image" />
                <p class="info">{{oImage.msg}}</p>
                <ion-button class="ion-chevron-right" ng-click="next()"></ion-button>
                <ion-button class="ion-chevron-left" ng-click="previous()"></ion-button>
                <ion-button class="ion-close"  ng-click="closeModal()" ></ion-button>
              </ion-slide>

            </ion-slide-box>
          </div>
      </script>

  </ion-content>
</ion-view>
