<ion-view view-title="Cuenta">
  <ion-content class="content has-header ionic-pseudo">
    <div class="list acount">
      <div ng-switch on="{{idRol}}">
          <div ng-switch-when="1"><div ng-include="'partials/account-parent.html'"></div></div>
          <div ng-switch-when="2"><div ng-include="'partials/account-parent.html'"></div></div>
          <div ng-switch-when="3"><div ng-include="'partials/account-institute.html'"></div></div>
          <div ng-switch-when="4"><div ng-include="'partials/account-institute.html'"></div></div>
          <div ng-switch-when="5"><div ng-include="'partials/account-student.html'"></div></div>
          <div ng-switch-when="6"><div ng-include="'partials/account-student.html'"></div></div>
          <div ng-switch-when="7"><div ng-include="'partials/account-institute.html'"></div></div>
          <div ng-switch-when="8"><div ng-include="'partials/account-institute.html'"></div></div>
      </div>
    </div>
  </ion-content>
</ion-view>

