<ion-tabs class="tabs-dark tabs-icon-only tabs-striped {{$root.hideTabs}}" ng-controller="TabCtrl">
    <ion-tab title="Inicio" icon="ion-ios-home" badge="data.badgeCountNew" badge-style="badge-assertive" ng-click="checkTab('dash')">
        <ion-nav-view name="tab-dash"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Mensajes" icon="ion-ios-chatboxes" badge="data.badgeCountMessage" badge-style="badge-assertive" ng-click="checkTab('chats')">
        <ion-nav-view name="tab-chats"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Opciones" icon="ion-ios-keypad" badge="data.badgeCountAcount" badge-style="badge-assertive" ng-click="checkTab('account')">
        <ion-nav-view name="tab-account"></ion-nav-view>
    </ion-tab>
</ion-tabs>
