<a class="item item-icon-left" href="#/tab/calender" transitiontype="slide" direction="left" go-native>
  <i class="icon ion-ios-calendar-outline"></i>
  Calendario
  <div class="noti"><!--strong>2</strong> en <span class="badge badge-assertive">Enero</span--></div>
</a>

<a class="item item-icon-left" href="#/tab/magazine" transitiontype="slide" direction="left" go-native>
  <i class="icon ion-ios-bookmarks-outline"></i>
  Revistas
</a>

<a class="item item-icon-left" href="#/tab/institute" transitiontype="slide" direction="left" go-native>
  <i class="icon ion-university"></i>
  Colegio
</a>

<a class="item item-icon-left" href="#/login" transitiontype="slide" direction="left" go-native>
  <i class="icon ion-ios-lock"></i>
  Cerrar sesión
</a>

