<a class="item item-icon-left" href="#/tab/calender" transitiontype="slide" direction="left" go-native>
  <i class="icon ion-ios-calendar-outline"></i>
  Calendario
</a>

<a class="item item-icon-left" href="#/tab/magazine" transitiontype="slide" direction="left" go-native>
  <i class="icon ion-ios-bookmarks-outline"></i>
  Revistas
</a>


<a class="item item-icon-left" href="#/tab/institute" transitiontype="slide" direction="left" go-native>
  <i class="icon ion-university"></i>
  {{institution.tipoInstitucion}}
</a>

<a class="item item-icon-left" href="#/login" transitiontype="slide" direction="left" go-native>
  <i class="icon ion-power"></i>
  Cerrar sesión
</a>
