|{#include file="master/general/header.html"|filetemplate#}
link(rel='stylesheet', type='text/css', media='all', href="{#'resources/css/pymes/404.css'|fileversion#}")
body
	.main
		#large-header.large-header
			canvas#demo-canvas
			.page-text
				cite.rotate	Error 404!,Oops!
				span
					| Parece que la página que usted está buscando no existe.
					br
					| Por favor vaya al 
					a(href='{#$smarty.const.BASE#}') homepage.
			#arrow
	.footer
		.menu-container
			ul.menu
				li
					a(href='{#$smarty.const.BASE#}que-es')
						q.icon-247-bulb
						span ¿Qué es Casos 24-7?
				li
					a(href='{#$smarty.const.BASE#}asesoria-juridica')
						q.icon-247-box
						span Servicios
				li
					a(href='{#$smarty.const.BASE#}contacto')
						q.icon-247-mail
						span Contacto
		.socila-container.clearfix
			ul.social.pull-right
				li
					a(rel='nofollow', href='{#$smarty.const.FACEBOOK#}', target='_blank')
						i.icon-0-facebook
				li
					a(rel='nofollow', href='{#$smarty.const.TWITTER#}', target='_blank')
						i.icon-0-twitter
				li
					a(rel='nofollow', href='{#$smarty.const.GOOGLE#}', target='_blank')
						i.icon-0-google-plus
				li
					a(rel='nofollow', href='{#$smarty.const.YOUTUBE#}', target='_blank')
						i.icon-0-youtube
		.copyright.pull-right
			| Copyright © 2015 
			a(href='{#$smarty.const.BASE#}') Casos 24-7
			|	| Todos los derechos reservados.
	|{#include file="master/general/scripts.html"|filetemplate#}
	script(type='text/javascript', src="{#'resources/js/vendor/jquery-simple-text-rotator.js'|fileversion#}")
	script(type='text/javascript', src="{#'resources/js/vendor/TweenLite.js'|fileversion#}")
	script(type='text/javascript', src="{#'resources/js/vendor/EasePack.js'|fileversion#}")
	script(type='text/javascript', src="{#'resources/js/vendor/rAF.js'|fileversion#}")
	script(type='text/javascript', src="{#'resources/js/errorpage/404-config.js'|fileversion#}")

